.row {
    display: flex;

}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.resultp{
    margin: 0 18%;
}
#result {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
    
}
  
#result td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#result tr:nth-child(even){background-color: #f2f2f2;}
  
#result tr:hover {background-color: #ddd;}
  
#result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.cd{
    background-color: #4CAF50;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.cd:hover, .cd:active {
background-color: #4CAF50;
}